**/.DS_Store
.DS_Store

*.mp4
*.xlsx
*.csv
*.pth
*.pkl
*.txt
*.yaml
*.png
*.json

/outputs
/outputs_csv
/outputs_csv_summaries
/logs
/data/splits/
/data/preprocessed
/data/lists/*
/data/folds/matching_fold/*/*
/model/ml_weight/*